**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/docker-compose*
**/c_programs_src/*
**/c_programs_zip/*
**/error-logs/*
**/output-logs/*
*.pptx
*.pdf
**/deploy-buildserver.sh
**/container-demo-script.sh
**/run_demo.sh